! ############################ Basic config ####################################
URxvt.depth: 32
URxvt.scrollBar:false
URxvt.cursorBlink:true
!URxvt.iconFile:/home/slok/termincon.png


! ############################ Font config #####################################
URxvt.letterSpace:-1
URxvt.font: xft:Source Code Pro:style=Regular:pixelsize=15


! ########################## Copy/paste config #################################
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

! ######################### Scheme Night lion V1 ###############################
URxvt.color0:       #4c4c4c
URxvt.color1:       #bb0000
URxvt.color2:       #5fde8f
URxvt.color3:       #f3f167
URxvt.color4:       #276bd8
URxvt.color5:       #bb00bb
URxvt.color6:       #00dadf
URxvt.color7:       #bbbbbb
URxvt.color8:       #555555
URxvt.color9:       #ff5555
URxvt.color10:      #55ff55
URxvt.color11:      #ffff55
URxvt.color12:      #5555ff
URxvt.color13:      #ff55ff
URxvt.color14:      #55ffff
URxvt.color15:      #ffffff
URxvt.colorBD:      #e3e3e3
URxvt.colorIT:      #b5d5ff
URxvt.colorUL:      #000000
URxvt.foreground:   #bbbbbb
URxvt.background:   #000000
URxvt.cursorColor:  #bbbbbb
